#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.section {
  padding: 2em;
  margin: 2em;
}

input {
  font-size: larger;
}

textarea {
  font-size: larger;
}

.content {
  text-align: center;
}