.auction-overview {
    display: inline-block;
    padding-top: 3em;
}

.overview-title {
    font-size: 2.7em;
    line-height: 1.1;
    padding: 10px;
    display: block;
}

.overview-description {
    font-size: 1.3em;
    padding: 10px;
    display: block;
}

.overview-image {
    display: block;
    padding: 10px;
}

.overview-image img {
    width: 250px;
}

.bid-table {
    display: inline-block;
    font-size: 1.1em;
}

.bid-table tr {
    text-align: left;
}

.bid-table td,
.bid-table th {
    padding: 10px;
}

.main-price {
    font-size: 2em;
    font-weight: bold;
}

.deal {
    font-size: 1.2em;
}

.bid-form {
    vertical-align: middle;
}

.bid-form input {
    margin: 10px;
    padding: 10px;
    width: 80px;
    font-size: x-large;
    border: 1px solid black;
    border-radius: 8px;
    font-weight: 500;
    font-family: inherit;
}

.bid-form button {
    background-color: #7070ed;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    position: relative;
    font-size: x-large;
    border: 1px solid black;
    color: white;
    border-radius: 8px;
    font-weight: 500;
    font-family: inherit;
}

.error-message {
    color: red;
}