.gallery {
    display: flex;
    flex-flow: wrap;
    place-content: center;
}

.gallery-item {
    background-color: white;
    list-style-type: none;
    padding: 50px;
    width: 260px;
    border: 1px dashed black;
    border-radius: 8px;
    margin: 50px;
    cursor: pointer;
}

.auction-title {
    font-size: 2.7em;
    line-height: 1.1;
}

.auction-description {
    font-size: 1.3em;
    padding: 1em;
}

.gallery-item img {
    width: 250px;
    display: block;
    padding: 10px;
}

.gallery-item-link {
    font-size: x-large;
    font-weight: 500;
    font-family: inherit;
    padding: 20px;
}